<body>
  
    <form >
      
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email
                address</label> <input type="email" class="form-control" name="txtemail"
                id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your
                email with anyone else.</div>
       
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="txtpassword">
        
        <button type="submit" (click)="complain()" class="btn btn-primary">Login</button>
        Already Registered ? <a href="/createUser">Register Here</a>
        <br>
        <a href="/home">Logout</a>
      </div>
    </form>
    <div style="height: 130px;"></div>

     
      
  </body>