<section class="we-offer-area text-center bg-gray">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="site-heading text-center">
                                    <h2>What we <span>Offer</span></h2>
                                    <h4>The Best Service</h4>
                                </div>
                            </div>
                        </div>
                            <div class="row our-offer-items less-carousel">
                                <!-- Single Item -->
                                <div class="col-md-4 col-sm-6 equal-height">
                                    <div class="item">
                                        <i class="fas fa-pen-fancy"></i>
                                        <h4>Experties</h4>
                                        <p>
                                        Medicine is practiced on a presumption of expertise; a deeper understanding of it may promise a deeper understanding of medicine itself. . 
                                        </p>
                                    </div>
                                </div>
                                <!-- End Single Item -->
            
                                <!-- Single Item -->
                                <div class="col-md-4 col-sm-6 equal-height">
                                    <div class="item">
                                        <i class="fas fa-dharmachakra"></i>
                                        <h4>Urgent Request</h4>
                                        <p>
                                          All urgent requests for blood components and blood products should be notified to the laboratory by telephone. 
                                        </p>
                                    </div>
                                </div>
                                <!-- End Single Item -->
            
                                <!-- Single Item -->
                                <div class="col-md-4 col-sm-6 equal-height">
                                    <div class="item">
                                        <i class="fas fa-tasks"></i>
                                        <h4>Safe Delivery</h4>
                                        <p>
                                        Ensures hospitals have good supply or inventories of blood bags.. 
                                        </p>
                                    </div>
                                </div>
                                <!-- End Single Item -->
            
                                <!-- Single Item -->
                                <div class="col-md-4 col-sm-6 equal-height">
                                    <div class="item">
                                        <i class="fas fa-tachometer-alt"></i>
                                        <h4>Insurance</h4>
                                        <p>
                                          Provide everyone insured under a reliable health insurance plan in time. 
                                        </p>
                                    </div>
                                </div>
                                <!-- End Single Item -->
            
                                <!-- Single Item -->
                                <div class="col-md-4 col-sm-6 equal-height">
                                    <div class="item">
                                        <i class="fas fa-recycle"></i>
                                        <h4>Security</h4>
                                        <p>
                                         The good we secure for ourselves is precarious and uncertain until it is secured for all of us and incorporated into our common life 
                                        </p>
                                    </div>
                                </div>
                                <!-- End Single Item -->
            
                                <!-- Single Item -->
                                <div class="col-md-4 col-sm-6 equal-height">
                                    <div class="item">
                                        <i class="fas fa-headset"></i>
                                        <h4>24/7 Support</h4>
                                        <p>
                                        24/7 support model ensures that a trustworthy is able to get their issue resolved no matter what day or time it is. 
                                        </p>
                                    </div>
                                </div>
                                <!-- End Single Item -->
                            </div>
                    </div>
                </section>