
<div class="container">
                    
                    <div class="row justify-content-center">
                      <div class="col-md-5">
                          <div class="card card-1">
                                               
                              <div class="card-body">
                                  <nav class="navbar nav navbar-expand-lg">
                                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                      </button>
                                      <a class="navbar-brand" href="#"></a>
                                    
                                      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                          <li class="nav-item active">
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#"  routerLink="/about">ABOUT US</a>
                                          </li>
                                          
                                        </ul>
                                        <form class="form-inline my-2 my-lg-0">
                                          <button class="btn  my-2 my-sm-0" type="submit">
                                            <a href="#" style="color:maroon">
                                             
                                            </a>
                                          </button>
                                        </form>
                                      </div>
                                    </nav>
                                    <strong class="head-2"> > About Us</strong>
                                    <div class="card card-4">
                                        <div class="card-body">
                                          <h5 class="card-title">Home</h5>
                                          <p class="card-text para-2">The main objective of the Blood Bank Management System is to manage the details of Blood ,Donor,Blood Group,Blood Bank,Stock.
                                                            It manages all the information about Blood , Blood Cell, Stock, Blood . 
                                                            The project is totally built at administrative end and thus only the administrator is guaranteed the access.
                                                            Blood Bank Management System (BBMS) is a Web-based application that is designed to store, process, 
                                                            retrieve and analyze information concerned with the administrative and inventory management within a blood bank. 
                                                            This project aims at maintaining all the information pertaining to blood donors, different blood groups available in each blood bank and help them manage in a better way.
                                          </p>
                                          
                                        </div>
                                      </div>
                                      <img class="image" width="250" height="200"  src="../../../assets/5.jpg">
                                      <img src="../../../assets/vision.jpeg" class="card-img-top" alt="...">
                                     
                              
                              
                            </div>
                           
                      </div>
                      
                    </div>
</div>
